.gallery {
  width: 100%;
  margin-bottom: 30px;
}

.title {
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: 500;
  color: #333;
}

.cardsContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
